@font-face {
  font-family: SFPRO;
  src: url(/frontend/fonts/SFPRODISPLAYBOLD.OTF);
}
@font-face {
  font-family: SFPROMED;
  src: url(/frontend/fonts/SFPRODISPLAYMEDIUM.OTF);
}
@font-face {
  font-family: Coolvetica;
  src: url(/frontend/fonts/coolvetica\ rg.otf);
}
@font-face {
  font-family: futura;
  src: url(/frontend/fonts/Futura\ Condensed\ Bold.otf);
}
@font-face {
  font-family: neue;
  src: url(/frontend/fonts/neue-montreal-bold.otf);
}
@font-face {
  font-family: stretched;
  src: url(/frontend/fonts/StretchPro.otf);
}


.home,
.home * {
  box-sizing: border-box;
}
.home {
  background: #fafafa;
  padding: 10px;
  width: 1920px;
  height: 4253px;
  position: relative;
  overflow: hidden;
}
.category {
  background: #fafafa;
  padding: 80px 160px 80px 160px;
  width: 1763px;
  height: 416px;
  position: absolute;
  left: calc(50% - 880px);
  top: 1368px;
}
.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1216px;
  position: absolute;
  left: 160px;
  top: 80px;
}
.browse-by-category {
  color: var(--main-black, #000000);
  text-align: left;
  font: 700 24px/32px "SfProDisplay-Bold", SFPRO;
  position: relative;
  flex: 1;
}
.input[type = "text"] {
  display: block;
  color: rgb(34, 34, 34);
  background: linear-gradient(142.99deg, rgba(217, 217, 217, 0.63) 15.53%, rgba(243, 243, 243, 0.63) 88.19%);
  box-shadow: 0px 12px 24px -1px rgba(0, 0, 0,0.18);
  border-color: rgba(7, 4, 14, 0);
  border-radius: 50px;
  block-size: 40px;
  margin: 7px auto;
  padding: 18px 15px;
  outline: none;
  text-align: center;
  width: 320px;
  transition: 0.5s;
  position: absolute;
  left: 383px;
  top: 19px;
}

.input[type = "text"]:hover {
  width: 220px;
}

.input[type = "text"]:focus {
  width: 280px;
} 
.input2[type = "text"] {
  display: block;
  color: rgb(34, 34, 34);
  background: linear-gradient(142.99deg, rgba(217, 217, 217, 0.63) 15.53%, rgba(243, 243, 243, 0.63) 88.19%);
  box-shadow: 0px 12px 24px -1px rgba(0, 0, 0,0.18);
  border-color: rgba(7, 4, 14, 0);
  border-radius: 50px;
  block-size: 40px;
  margin: 7px auto;
  padding: 18px 15px;
  outline: none;
  text-align: center;
  width: 320px;
  transition: 0.5s;
  position: absolute;
  left: 753px;
  top: 19px;
}

.input2[type = "text"]:hover {
  width: 220px;
}

.input2[type = "text"]:focus {
  width: 240px;
} 
.categories {
  width: 1216px;
  height: 128px;
  position: absolute;
  left: 160px;
  top: 144px;
}
.category-card {
  background: #ededed;
  border-radius: 15px;
  padding: 24px 52px 24px 52px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 128px;
  min-width: 135px;
  position: absolute;
  left: 35.5px;
  top: 5px;
  transition: transform 0.3s ease; /* kevs */
}
.category-card:hover { /* kevs */
  background: #ff0000; 
  transform: translateY(-5px); 
}
.sneaker {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.kicks {
  color: var(--main-black, #000000);
  text-align: center;
  font: 700 16px/24px "SfProDisplay-Bold", SFPRO;
  position: relative;
}
.category-card2 {
  background: #ededed;
  border-radius: 15px;
  padding: 24px 52px 24px 52px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 128px;
  min-width: 135px;
  position: absolute;
  left: 271.25px;
  top: 5px;
  transition: transform 0.3s ease; /* kevs */
}
.category-card2:hover { /* kevs */
  background: #ff0000; 
  transform: translateY(-5px); 
}
.shrink img{
  transition: 1s ease;
}
.shrink img:hover{
-webkit-transform: scale(0.8);
-ms-transform: scale(0.8);
transform: scale (0.8);
transition: 1s ease;
}

.t-shirt {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.shirts {
  color: var(--main-black, #000000);
  text-align: center;
  font: 700 16px/24px "SfProDisplay-Bold", SFPRO;
  position: relative;
}
.category-card3 {
  background: #ededed;
  border-radius: 15px;
  padding: 24px 52px 24px 52px;
  width: 160px;
  height: 128px;
  position: absolute;
  left: 507px;
  top: 5px;
  transition: transform 0.3s ease; /* kevs */
}
.category-card3:hover { /* kevs */
  background: #ff0000; 
  transform: translateY(-5px); 
}
.vector3 {
  width: 27.99px;
  height: 24px;
  position: absolute;
  left: 66px;
  top: 36px;
  overflow: visible;
}
.jackets-hoodies {
  color: var(--main-black, #000000);
  text-align: center;
  font: 700 16px/24px "SfProDisplay-Bold", sans-serif;
  position: absolute;
  left: 45px;
  top: 70px;
}
.category-card4 {
  background: #ededed;
  border-radius: 15px;
  padding: 24px 52px 24px 52px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 128px;
  min-width: 135px;
  position: absolute;
  left: 741.5px;
  top: 5px;
  transition: transform 0.3s ease; /* kevs */
}
.category-card4:hover { /* kevs */
  background: #ff0000; 
  transform: translateY(-5px); 
}
.pants {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.bottoms {
  color: var(--main-black, #000000);
  text-align: center;
  font: 700 16px/24px "SfProDisplay-Bold",  SFPRO;
  position: relative;
}
.category-card5 {
  background: #ededed;
  border-radius: 15px;
  padding: 24px 52px 24px 52px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 128px;
  min-width: 135px;
  position: absolute;
  left: 976px;
  top: 5px;
  transition: transform 0.3s ease; /* kevs */
}
.category-card5:hover { /* kevs */
  background: #ff0000; 
  transform: translateY(-5px); 
}
.square-half-bottom {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.kitss {
  color: var(--main-black, #000000);
  text-align: center;
  font: 700 16px/24px "SfProDisplay-Bold",  SFPRO;
  position: relative;
}
.category-card6 {
  background: #ededed;
  border-radius: 15px;
  padding: 24px 52px 24px 52px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 128px;
  min-width: 135px;
  position: absolute;
  left: 1216px;
  top: 5px;
  transition: transform 0.3s ease; /* kevs */
}
.category-card6:hover { /* kevs */
  background: #ff0000; 
  transform: translateY(-5px); 
}
.vector6 {
  flex-shrink: 0;
  width: 26px;
  height: 26px;
  position: relative;
  overflow: visible;
}
.latest {
  color: var(--main-black, #000000);
  text-align: center;
  font: 700 16px/24px "SfProDisplay-Bold",  SFPRO;
  position: relative;
}
.arrow-fat-up {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 160px;
  top: 304px;
  overflow: hidden;
}
.smaller-banners {
  width: 1920px;
  height: 600px;
  position: absolute;
  left: 0px;
  top: 768px;
}
.left-banners {
  width: 960px;
  height: 600px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.wide-square {
  background: var(--main-white, #ffffff);
  padding: 0px 48px 0px 334px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  width: 960px;
  height: 328px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.frame-725 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 258px;
  height: 415px;
  position: relative;
}
.title-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-end;
  justify-content: center;
  flex-shrink: 0;
  width: 303px;
  height: 228px;
  max-width: 404px;
  position: relative;
}
.adidas {
  color: #000000;
  text-align: left;
  font: 400 49px/40px "PaytoneOne-Regular", sans-serif;
  position: relative;
  align-self: stretch;
}
.adidas-is-a-german-multinational-sportswear-company-that-designs-and-manufactures-shoes-apparel-and-accessories {
  color: #4f4d4d;
  text-align: left;
  font: 400 14px/24px "Coolvetica-Regular",  Coolvetica;
  position: relative;
  align-self: stretch;
}
.squares {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 960px;
  height: 272px;
  position: absolute;
  left: 0px;
  top: 328px;
}
.square-banner {
  background: #ededed;
  padding: 0px 48px 0px 156px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.title-text2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 144px;
  height: 91px;
  max-width: 168px;
  position: relative;
}
.reebok {
  color: #000000;
  text-align: left;
  font: 400 29px/40px "Coolvetica-Regular",  Coolvetica;
  position: relative;
  width: 129px;
  height: 49px;
}
.viewed-from-above {
  color: #676464;
  text-align: left;
  font: 700 14px/24px "NeueMontreal-Bold",  neue;
  position: relative;
}
.square-banner2 {
  background: #353535;
  padding: 0px 48px 0px 156px;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.title-text3 {
  width: 160px;
  height: 144px;
  position: absolute;
  left: 117px;
  top: 64px;
}
.asics {
  color: var(--main-white, #ffffff);
  text-align: left;
  font: 400 29px/40px "ZenDots-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 24px;
  width: 160px;
}
.a-natural-classic {
  color: #d8d8d8;
  text-align: left;
  font: 400 14px/24px "StretchPro-Regular", stretched;
  position: absolute;
  left: 0px;
  top: 72px;
  width: 160px;
}
.add-a-heading-7-1-1 {
  border-radius: 71px;
  width: 419.31px;
  height: 223.11px;
  position: absolute;
  left: 79.71px;
  top: 191.03px;
  transform-origin: 0 0;
  transform: rotate(-45.926deg) scale(1, 1);
}
.add-a-heading-8-1 {
  width: 334.99px;
  height: 341px;
  position: absolute;
  left: -9.49px;
  top: 535px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}
.big-banner {
  background: #ededed;
  padding: 44px 264px 44px 56px;
  width: 960px;
  height: 600px;
  position: absolute;
  left: 960px;
  top: 0px;
  overflow: hidden;
}
.content {
  width: 360px;
  height: 272px;
  position: absolute;
  left: 156px;
  top: 164px;
}
.title-text4 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 360px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.new-balance {
  color: #000000;
  text-align: left;
  font: 400 64px/56px "FugazOne-Regular", sans-serif;
  position: relative;
  align-self: stretch;
}
.nbtitle {
  color: #5c5a5a;
  text-align: left;
  font: 400 14px/24px "Coolvetica-Regular",  Coolvetica;
  position: relative;
  align-self: stretch;
}
.button {
  background: var(--main-black, #ff0000);
  border-radius: 6px;
  padding: 16px 56px 16px 56px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
  top: 216px;
  transition: transform 0.3s ease, transform 0.3s ease; /* kevs */
}

.button:hover { /* kevs */
  transform: translateY(-5px); 
}

.label {
  color: var(--main-white, #ffffff);
  text-align: center;
  font: 700 16px/24px "NeueMontreal-Bold", neue;
  position: relative;
  transform: translateY(0); /* Initial position */
  transition: transform 0.3s ease; /* Add transition for a smoother effect */
}

.label:hover {
  transform: translateY(-5px); /* Move the button 5 pixels up on hover */
}
.banner {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(26, 26, 26, 1) 70.3125%,
    rgba(0, 0, 0, 0.9) 88.54166865348816%
  );
  padding: 0px 160px 0px 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1920px;
  position: absolute;
  left: calc(50% - 960px);
  top: calc(50% - 1984.5px);
  overflow: hidden;
}
.content2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  min-width: 400px;
  position: relative;
}
.titles {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.sneakers-redefined {
  color: #ffffff;
  text-align: left;
  font: 400 25px/32px "StretchPro-Regular", stretched;
  opacity: 0.4000000059604645;
  position: relative;
  align-self: stretch;
}
.nike-24 {
  color: #ffffff;
  text-align: left;
  font: 700 120px/72px "FuturaCondensedExtra-Bold", futura;
  position: relative;
  align-self: stretch;
}
.niketitle {
  color: #909090;
  text-align: left;
  font: 700 18px/24px "NeueMontreal-Bold", neue;
  position: relative;
  align-self: stretch;
}
.button2 {
  background: var(--main-black, #ff0000);
  border-radius: 6px;
  padding: 16px 56px 16px 56px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform: translateY(0); /* Initial position */
  transition: transform 0.3s ease; /* Add transition for a smoother effect */
}

.button2:hover {
  transform: translateY(-5px); /* Move the button 5 pixels up on hover */
}
.label2 {
  color: var(--main-white, #ffffff);
  text-align: center;
  font: 700 16px/24px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  transform: translateY(0); /* Initial position */
  transition: transform 0.3s ease; /* Add transition for a smoother effect */
}

.label2:hover {
  transform: translateY(-5px); /* Move the button 5 pixels up on hover */
}
.icon-24-px-arrow-down {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
}
.expand-down-light {
  height: auto;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  overflow: visible;
}
.iphone-image {
  flex-shrink: 0;
  width: 406px;
  height: 632px;
  position: relative;
}
.add-a-heading-4-1 {
  width: 1135px;
  height: 772px;
  position: absolute;
  left: -475px;
  top: 276px;
}
.header {
  width: 1920px;
  height: 142px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.header-top {
  background: var(--main-white, #ffffff);
  padding: 16px 160px 16px 160px;
  width: 1783px;
  height: 94px;
  position: absolute;
  left: 56px;
  top: 0px;
}
.add-a-heading-1-1 {
  width: 151px;
  height: 62px;
  position: absolute;
  left: 139.59px;
  top: 16px;
}
.search-field {
  background: #f5f5f5;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: 331px;
  height: 56px;
  position: absolute;
  left: 343px;
  top: 19px;
}
.icon-32-px-search {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.search {
  color: #656565;
  text-align: left;
  font: 400 14px/18px "-", sans-serif;
  opacity: 0.5;
  position: relative;
}
.search-span {
  color: #656565;
  font: 400 14px/18px "Coolvetica-Regular",  Coolvetica;
}
.search-span2 {
  color: #656565;
  font: 400 14px/18px "-", sans-serif;
}
.search-field2 {
  background: #f5f5f5;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: 331px;
  height: 56px;
  position: absolute;
  left: 706px;
  top: 19px;
}
.icon-32-px-search2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.search2 {
  color: #656565;
  text-align: left;
  font: 400 14px/18px "Coolvetica-Regular",  Coolvetica;
  opacity: 0.5;
  position: relative;
}
.navigation {
  display: flex;
  flex-direction: row;
  gap: 52px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 1182px;
  top: 39px;
}
.home2 {
  color: var(--secondary-charcoal, #2e2e2e);
  text-align: left;
  font: 700 16px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  transform: translateY(0); /* kevs */
  transition: transform 0.3s ease; /* kevs */
}

.home2:hover {
  transform: translateY(-5px);
  color: #ff0000; /* kevs */
}
.about {
  color: var(--secondary-charcoal, #2e2e2e);
  text-align: left;
  font: 700 16px "SfProDisplay-Bold",  SFPRO;
  opacity: 50%;
  position: relative;
  transform: translateY(0); /* kevs */
  transition: transform 0.3s ease; /* kevs */
}

.about:hover {
  transform: translateY(-5px);
  color: #ff0000; /* kevs */
}
.contact-us {
  color: var(--secondary-charcoal, #2e2e2e);
  text-align: left;
  font: 400 16px "-",  SFPRO;
  opacity: 50%;
  position: relative;
  transform: translateY(0); /* kevs */
  transition: transform 0.3s ease; /* kevs */
}
.contact-us:hover {
  transform: translateY(-5px);
  color: #ff0000; /* kevs */
}
.contact-us-span {
  color: var(--secondary-charcoal, #2e2e2e);
  font: 700 16px "SfProDisplay-Bold",  SFPRO;
}
.contact-us-span:hover {
  transform: translateY(-5px);
  color: #ff0000; /* kevs */
}
.icons {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 1637px;
  top: 31px;
}
.icon-32-px-favorites {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.icon-32-px-cart {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 1679px;
  top: 30.92px;
}
.cart-1 {
  height: auto;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  overflow: visible;
}
.subnav {
  background: #000000;
  padding: 8px 160px 8px 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1920px;
  position: absolute;
  left: 0px;
  top: 94px;
}
.nav-category {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.shoes {
  color: var(--main-white, #ffffff);
  text-align: center;
  font: 700 16px/32px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  transform: translateY(0); /* kevs */
  transition: transform 0.3s ease; /* kevs */
}

.shoes:hover {
  transform: translateY(-5px); /* kevs */
  color: #ff0000; /* kevs */
}
.devider {
  border-style: solid;
  border-color: var(--main-white, #ffffff);
  border-width: 1px 0 0 0;
  opacity: 0.20000000298023224;
  flex-shrink: 0;
  width: 24px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.apparels {
  color: var(--main-white, #ffffff);
  text-align: center;
  font: 700 16px/32px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  transform: translateY(0); /* kevs */
  transition: transform 0.3s ease; /* kevs */
}

.apparels:hover {
  transform: translateY(-5px); /* kevs */
  color: #ff0000; /* kevs */
}
.essentials {
  color: var(--main-white, #ffffff);
  text-align: center;
  font: 700 16px/32px "SfProDisplay-Bold", SFPRO;
  position: relative;
  transform: translateY(0); /* kevs */
  transition: transform 0.3s ease; /* kevs */
}

.essentials:hover {
  transform: translateY(-5px); /* kevs */
  color: #ff0000; /* kevs */
}
.kits {
  color: var(--main-white, #ffffff);
  text-align: center;
  font: 700 16px/32px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  transform: translateY(0); /* kevs */
  transition: transform 0.3s ease; /* kevs */
}

.kits:hover {
  transform: translateY(-5px); /* kevs */
  color: #ff0000; /* kevs */
}
.newarrivals{
  color: var(--main-white, #ffffff);
  text-align: center;
  font: 700 16px/32px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  transform: translateY(0); /* kevs */
  transition: transform 0.3s ease; /* kevs */
}

.newarrivals:hover {
  transform: translateY(-5px); /* kevs */
  color: #ff0000; /* kevs */
}
.news {
  color: var(--main-white, #ffffff);
  text-align: center;
  font: 700 16px/32px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  transform: translateY(0); /* kevs */
  transition: transform 0.3s ease; /* kevs */
}

.news:hover {
  transform: translateY(-5px); /* kevs */
  color: #ff0000; /* kevs */
}
.add-a-heading-5-1-1 {
  width: 515.91px;
  height: 350.29px;
  position: absolute;
  left: 113.84px;
  top: 750px;
  transform-origin: 0 0;
  transform: rotate(0) scale(1, 1);
}
.products {
  background: #ffffff;
  padding: 56px 160px 56px 160px;
  width: 1912px;
  height: 952px;
  position: absolute;
  left: 0px;
  top: 1680px;
}
.tags {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  width: 1592px;
  position: absolute;
  left: 160px;
  top: 56px;
}
.selected {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.new-arrival {
  color: var(--main-black, #000000);
  text-align: center;
  font: 700 18px/32px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  transition: transform 0.3s ease; /* kevs */
}
.new-arrival:hover { /* kevs */
  color: #ff0000; /* kevs */
}
.line {
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  overflow: visible;
}
.bestseller {
  color: #8b8b8b;
  text-align: center;
  font: 700 18px/32px "SfProDisplay-Bold",  SFPRO;
  transition: transform 0.3s ease; /* kevs */
}
.bestseller:hover { /* kevs */
  color: #ff0000; /* kevs */
}
.featured-products {
  color: #8b8b8b;
  text-align: left;
  font: 700 18px/32px "SfProDisplay-Bold",  SFPRO;
  transition: transform 0.3s ease; /* kevs */
}
.featured-products:hover { /* kevs */
  color: #ff0000; /* kevs */
}
.products-grid {
  width: 1592px;
  height: 785px;
  position: absolute;
  left: 160px;
  top: 120px;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1592px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.pair {
  flex: 1;
  height: 385px;
  min-width: 200px;
  position: relative;
}
.product-card {
  background: #f6f6f6;
  border-radius: 9px;
  padding: 0px 16px 24px 16px;
  width: 386px;
  height: 385px;
  position: absolute;
  left: 402px;
  top: 0px;
}
.panda-1 {
  width: 170px;
  height: 94.2px;
  position: absolute;
  left: 108px;
  top: 85.03px;
}
.text-icon {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  width: 236px;
  height: 88px;
  position: absolute;
  left: 67px;
  top: 178px;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 236px;
  position: absolute;
  left: 75px;
  top: 196px;
}
.nike-panda-vintages-low {
  color: var(--main-black, #000000);
  text-align: center;
  font: 500 16px/24px "SfProDisplay-Medium", SFPROMED;
  position: relative;
  align-self: stretch;
}
._7-000 {
  color: var(--main-black, #000000);
  text-align: center;
  font: 700 24px/24px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  align-self: stretch;
}
.button3 {
  background: var(--main-black, #000000);
  border-radius: 8px;
  padding: 12px 64px 12px 64px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 100.5px;
  top: 312px;
  transform: translateY(0); /* Initial position */
  transition: transform 0.3s ease; /* Add transition for a smoother effect */
}

.button3:hover {
  transform: translateY(-5px); /* Move the button 5 pixels up on hover */
}
.label3 {
  color: var(--main-white, #ffffff);
  text-align: center;
  font: 700 14px/24px "SfProDisplay-Bold",  SFPRO;
  transform: translateY(0); /* Initial position */
  transition: transform 0.3s ease; /* Add transition for a smoother effect */
}

.label3:hover {
  transform: translateY(-5px); /* Move the button 5 pixels up on hover */
}
.product-card2 {
  background: #f6f6f6;
  border-radius: 9px;
  padding: 0px 16px 24px 16px;
  width: 386px;
  height: 385px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.text-icon2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  width: 354px;
  position: absolute;
  left: 16px;
  top: 200px;
}
.info2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.new-balance-2002-r-pocket-gray-m-2002-rvc {
  color: var(--main-black, #000000);
  text-align: center;
  font: 500 16px/24px "SfProDisplay-Medium", SFPROMED;
  position: relative;
  align-self: stretch;
}
._12-000 {
  color: var(--main-black, #000000);
  text-align: center;
  font: 700 24px/24px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  align-self: stretch;
}
.button4 {
  background: #000000;
  border-radius: 8px;
  padding: 12px 64px 12px 64px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  transform: translateY(0); /* Initial position */
  transition: transform 0.3s ease; /* Add transition for a smoother effect */
}

.button4:hover {
  transform: translateY(-5px); /* Move the button 5 pixels up on hover */
}
._2002-r-2 {
  width: 170px;
  height: 143px;
  position: absolute;
  left: 108px;
  top: 59.9px;
}
.pair2 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 1;
  min-width: 200px;
  position: relative;
}
.product-card3 {
  background: #f6f6f6;
  border-radius: 9px;
  padding: 24px 16px 0px 16px;
  flex: 1;
  height: 384px;
  min-width: 200px;
  position: relative;
}
.samb-1 {
  border-radius: 7px;
  width: 170px;
  height: 143px;
  position: absolute;
  left: 108px;
  top: 66.46px;
}
.iphone-14-pro-1 {
  width: 160px;
  height: 160px;
  position: absolute;
  left: 54px;
  top: 101.54px;
}
.text-icon3 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  width: 236px;
  position: absolute;
  left: 75px;
  top: 199px;
}
.adidas-samba-2023 {
  color: var(--main-black, #000000);
  text-align: center;
  font: 500 16px/24px "SfProDisplay-Medium", SFPROMED;
  position: relative;
  align-self: stretch;
}
._6-000 {
  color: var(--main-black, #000000);
  text-align: center;
  font: 700 24px/24px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  align-self: stretch;
}
.button5 {
  background: var(--main-black, #000000);
  border-radius: 8px;
  padding: 12px 64px 12px 64px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  transform: translateY(0); /* Initial position */
  transition: transform 0.3s ease; /* Add transition for a smoother effect */
}

.button5:hover {
  transform: translateY(-5px); /* Move the button 5 pixels up on hover */
}
.product-card4 {
  background: #f6f6f6;
  border-radius: 9px;
  padding: 24px 16px 24px 16px;
  flex: 1;
  height: 384px;
  min-width: 200px;
  position: relative;
}
.iphone-14-pro-12 {
  width: 160px;
  height: 160px;
  position: absolute;
  left: 54px;
  top: 24px;
}
.j-1-ts-1 {
  width: 164.6px;
  height: 146.28px;
  position: absolute;
  left: 110.7px;
  top: 53.14px;
}
.text-icon4 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  width: 236px;
  height: 167px;
  position: absolute;
  left: 75px;
  top: 199.42px;
}
.jordan-1-travis-scott {
  color: var(--main-black, #000000);
  text-align: center;
  font: 500 16px/24px "SfProDisplay-Medium", SFPROMED;
  position: relative;
  align-self: stretch;
}
._65-000 {
  color: var(--main-black, #000000);
  text-align: center;
  font: 700 24px/24px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  align-self: stretch;
}
.row2 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1592px;
  position: absolute;
  left: 0px;
  top: 401px;
}
.text-icon5 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  width: 236px;
  position: absolute;
  left: 75px;
  top: 200px;
}
.adidas-yeezy-700-classic {
  color: var(--main-black, #000000);
  text-align: center;
  font: 500 16px/24px "SfProDisplay-Medium", SFPROMED;
  position: relative;
  align-self: stretch;
}
._11-000 {
  color: var(--main-black, #000000);
  text-align: center;
  font: 700 24px/24px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  align-self: stretch;
}
.yeezy-1 {
  width: 186px;
  height: 159px;
  position: absolute;
  left: 100px;
  top: 41px;
}
.jordan-4-2018-white-cement {
  color: var(--main-black, #000000);
  text-align: center;
  font: 500 16px/24px "SfProDisplay-Medium", SFPROMED;
  position: relative;
  align-self: stretch;
}
._9-000 {
  color: var(--main-black, #000000);
  text-align: center;
  font: 700 24px/24px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  align-self: stretch;
}
.j-4-1 {
  width: 179.05px;
  height: 150.61px;
  position: absolute;
  left: 103.48px;
  top: 49.39px;
}
.new-balance-550-s-adl {
  color: var(--main-black, #000000);
  text-align: center;
  font: 500 16px/24px "SfProDisplay-Medium", SFPROMED;
  position: relative;
  align-self: stretch;
}
._10-500 {
  color: var(--main-black, #000000);
  text-align: center;
  font: 700 24px/24px "SfProDisplay-Bold", SFPRO;
  position: relative;
  align-self: stretch;
}
._550-1 {
  width: 179.62px;
  height: 153.34px;
  position: absolute;
  left: 103.19px;
  top: 46.66px;
}
.adidas-yeezy-900-true-black {
  color: var(--main-black, #000000);
  text-align: center;
  font: 500 16px/24px "SfProDisplay-Medium", SFPROMED;
  position: relative;
  align-self: stretch;
}
._7-500 {
  color: var(--main-black, #000000);
  text-align: center;
  font: 700 24px/24px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  align-self: stretch;
}
.untitled-design-1 {
  width: 186.89px;
  height: 151.97px;
  position: absolute;
  left: 99.55px;
  top: 48.03px;
}
.banners {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 1920px;
  height: 673px;
  position: absolute;
  left: 4px;
  top: 2696px;
}
.pair3 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex: 1;
  min-width: 280px;
  position: relative;
}
.big-banner2 {
  background: var(--main-white, #ffffff);
  padding: 376px 32px 56px 32px;
  flex: 1;
  height: 640px;
  min-width: 280px;
  position: relative;
  overflow: hidden;
}
.title-text5 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-end;
  width: 296px;
  position: absolute;
  left: 32px;
  top: 376px;
  overflow: hidden;
}
.popular-products {
  color: #000000;
  text-align: left;
  font: 500 33px/48px "SfProDisplay-Medium", SFPROMED;
  position: relative;
  align-self: stretch;
}
.step-into-confidence-wrapped-in-trends-aparrells-where-every-stitch-tells-your-story {
  color: #909090;
  text-align: left;
  font: 500 14px/24px "SfProDisplay-Medium", SFPROMED;
  position: relative;
  align-self: stretch;
}
.button6 {
  border-radius: 6px;
  border-style: solid;
  border-color: var(--main-black, #000000);
  border-width: 1px;
  padding: 16px 56px 16px 56px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  transform: translateY(0); /* kevs */
  transition: transform 0.3s ease; /* kevs */
}

.button6:hover {/* kevs */
  transform: translateY(-5px); 
}
.label4 {
  color: var(--main-black, #000000);
  text-align: center;
  font: 700 16px/24px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  transform: translateY(0); /* Initial position */
  transition: transform 0.3s ease; /* Add transition for a smoother effect */
}

.label4:hover {
  transform: translateY(-5px); /* Move the button 5 pixels up on hover */
}
.untitled-design-1-1 {
  width: 481.83px;
  height: 376px;
  position: absolute;
  left: -1.83px;
  top: 0px;
}
.big-banner3 {
  background: #f9f9f9;
  padding: 376px 32px 56px 32px;
  flex: 1;
  height: 640px;
  min-width: 280px;
  position: relative;
  overflow: hidden;
}
.shoe-kits {
  color: #000000;
  text-align: left;
  font: 500 33px/48px "SfProDisplay-Medium", SFPROMED;
  position: relative;
  align-self: stretch;
}
.revive-your-kicks-step-into-freshness-shoe-kit-cleaners-unleash-the-sole-glow-one-shine-at-a-time {
  color: #909090;
  text-align: left;
  font: 500 14px/24px "SfProDisplay-Medium", SFPROMED;
  position: relative;
  align-self: stretch;
}
.untitled-design-2-1 {
  width: 478.4px;
  height: 376px;
  position: absolute;
  left: 1.6px;
  top: 0px;
}
.big-banner4 {
  background: #eaeaea;
  padding: 376px 32px 56px 32px;
  flex: 1;
  height: 640px;
  min-width: 280px;
  position: relative;
  overflow: hidden;
}
.statement-tees {
  color: #000000;
  text-align: left;
  font: 500 33px/48px "SfProDisplay-Medium", SFPROMED;
  position: relative;
  align-self: stretch;
}
.wear-your-words-statement-tees-that-speak-volumes-style-that-resonates {
  color: #909090;
  text-align: left;
  font: 500 14px/24px "SfProDisplay-Medium", SFPROMED;
  position: relative;
  align-self: stretch;
}
.untitled-design-3-1 {
  width: 480px;
  height: 370.76px;
  position: absolute;
  left: 0px;
  top: 5.24px;
}
.big-banner5 {
  background: #2c2c2c;
  padding: 376px 32px 56px 32px;
  flex: 1;
  height: 640px;
  min-width: 280px;
  position: relative;
  overflow: hidden;
}
.gift-ideas {
  color: #ffffff;
  text-align: left;
  font: 500 33px/48px "SfProDisplay-Medium", SFPROMED;
  position: relative;
  align-self: stretch;
}
.discover-the-joy-of-giving-with-unique-and-thoughtful-gift-ideas-make-every-moment-unforgettable {
  color: #909090;
  text-align: left;
  font: 500 14px/24px "SfProDisplay-Medium",SFPROMED;
  position: relative;
  align-self: stretch;
}
.button7 {
  border-radius: 6px;
  border-style: solid;
  border-color: var(--main-white, #ffffff);
  border-width: 1px;
  padding: 16px 56px 16px 56px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  transform: translateY(0); /* Initial position */
  transition: transform 0.3s ease; /* Add transi                wtion for a smoother effect */
}

.button7:hover {
  transform: translateY(-5px); /* Move the button 5 pixels up on hover */
}
.untitled-design-4-1 {
  width: 480px;
  height: 376px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.footer {
  background: #000000;
  padding: 104px 160px 104px 160px;
  width: 1924px;
  height: 469px;
  position: absolute;
  left: calc(50% - 960px);
  top: 3784px;
}
.info3 {
  width: 1119px;
  height: 216px;
  position: absolute;
  left: 160px;
  top: 104px;
}
.logo-text {
  width: 384px;
  height: 104px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.beyond-shoe-game-manila-where-every-step-tells-your-story-elevate-your-style-game-with-our-exclusive-sneaker-collection-more-than-a-shoe-it-s-a-statement-step-into-the-extraordinary-explore-beyond-ordinary-footwear-with-us {
  color: #cfcfcf;
  text-align: left;
  font: 700 14px/170.5% "SfProDisplay-Bold",  SFPRO;
  position: absolute;
  left: 60.38px;
  top: 87px;
  width: 384px;
}
.footer-navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 623px;
  position: absolute;
  left: 1262px;
  top: 104px;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 295.5px;
  position: relative;
}
.socials {
  color: var(--main-white, #ffffff);
  text-align: left;
  font: 700 16px/16px "SfProDisplay-Bold",  SFPRO;
  position: relative;
}
.bonus-program-gift-cards-payments-service-contracts-non-cash-account-payment {
  color: #cfcfcf;
  text-align: left;
  font: 500 14px/32px "SfProDisplay-Medium", SFPROMED;
  position: relative;
  align-self: stretch;
}
.assistance-to-the-buyer {
  color: var(--main-white, #ffffff);
  text-align: left;
  font: 700 16px/16px "SfProDisplay-Bold",  SFPRO;
  position: relative;
}
.find-an-order-terms-of-delivery-exchange-and-return-of-goods-guarantee-frequently-asked-questions-terms-of-use-of-the-site {
  color: #cfcfcf;
  text-align: left;
  font: 500 14px/32px "SfProDisplay-Medium", SFPROMED;
  position: relative;
  align-self: stretch;
}
.social-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 173px;
  position: absolute;
  left: 219.08px;
  top: 320px;
}
.icon-16-px-twitter {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.icon-16-px-facebook {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.icon-16-px-tiktok {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.icon-16-px-instagram {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.beyond-1 {
  width: 216.08px;
  height: 170.78px;
  position: absolute;
  left: 176px;
  top: 32.61px;
}
.banner-2 {
  background: linear-gradient(
    100.23deg,
    rgba(46, 28, 243, 1) 0%,
    rgba(3, 2, 15, 1) 18.75%,
    rgba(0, 0, 0, 1) 51.04166865348816%,
    rgba(0, 0, 0, 1) 100%
  );
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 1920px;
  height: 448px;
  position: absolute;
  left: calc(50% - 960px);
  top: calc(50% - -1209.5px);
  overflow: hidden;
}
.jbl-jr-310-bt-blue-1 {
  flex-shrink: 0;
  width: 558.08px;
  height: 262.08px;
  position: absolute;
  right: 47.01%;
  left: 23.93%;
  width: 29.07%;
  bottom: 3.11%;
  top: 38.39%;
  height: 58.5%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.image-18 {
  flex-shrink: 0;
  width: 316px;
  height: 192px;
  position: absolute;
  right: 80.83%;
  left: 2.71%;
  width: 16.46%;
  bottom: 56.47%;
  top: 0.67%;
  height: 42.86%;
}
.content3 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: absolute;
  left: calc(50% - 418px);
  top: calc(50% - 81px);
}
.titles2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.web-s-site-is-up {
  color: #ffffff;
  text-align: center;
  font: 400 72px/72px "StretchPro-Regular",stretched;
  position: relative;
}
.celebrate-with-us-as-we-launch-our-new-and-renounced-website-for-beyond-shoe-game-manile {
  color: #ffffff;
  text-align: center;
  font: 700 16px/32px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  align-self: stretch;
}
.label5 {
  color: var(--main-white, #ffffff);
  text-align: center;
  font: 500 16px/24px "SfProDisplay-Medium", SFPROMED;
  position: relative;
  transform: translateY(0); /* kevs */
  transition: transform 0.3s ease; /* kevs */
}
.label5:hover {
  transform: translateY(-5px); /* kevs */
}
.add-a-heading-6-1-1 {
  width: 300.62px;
  height: 670.77px;
  position: absolute;
  left: 1620px;
  top: 720.62px;
  transform-origin: 0 0;
  transform: rotate(-360.837deg) scale(1, 1);
}
.add-a-heading-2-1 {
  width: 1224.09px;
  height: 568.23px;
  position: absolute;
  left: 695.49px;
  top: 205.77px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform-origin: 0 0;
  transform: rotate(-0.051deg) scale(1, 1);
}
