@font-face {
    font-family: SFPRO;
    src: url(/frontend/fonts/SFPRODISPLAYBOLD.OTF);
  }
  @font-face {
    font-family: SFPROMED;
    src: url(/frontend/fonts/SFPRODISPLAYMEDIUM.OTF);
  }
  @font-face {
    font-family: Coolvetica;
    src: url(/frontend/fonts/coolvetica\ rg.otf);
  }
  @font-face {
    font-family: ftr;
    src: url(/frontend/fonts/Futura\ Condensed\ Bold.otf);
  }
  @font-face {
    font-family: neue;
    src: url(/frontend/fonts/neue-montreal-bold.otf);
  }
  @font-face {
    font-family: stretched;
    src: url(/frontend/fonts/StretchPro.otf);
  }

.product-page,
.product-page * {
  box-sizing: border-box;
}
.product-page {
  background: #160404;
  width: 1920px;
  height: 2163px;
  position: relative;
  overflow: hidden;
}
.hero {
  background: #ffffff;
  width: 1920px;
  height: 2163px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.navbar {
  background: #ffffff;
  width: 1440px;
  height: 90px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-11 {
  display: flex;
  flex-direction: column;
  gap: 74px;
  align-items: center;
  justify-content: flex-start;
  width: 1039px;
  height: 187px;
  position: absolute;
  left: 220px;
  top: 154px;
}
.footer {
  background: #000000;
  padding: 104px 160px 104px 160px;
  width: 1924px;
  height: 469px;
  position: absolute;
  left: calc(50% - 964px);
  top: 1751px;
}
.info {
  width: 1119px;
  height: 216px;
  position: absolute;
  left: 160px;
  top: 104px;
}
.logo-text {
  width: 384px;
  height: 104px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.beyond-shoe-game-manila-where-every-step-tells-your-story-elevate-your-style-game-with-our-exclusive-sneaker-collection-more-than-a-shoe-it-s-a-statement-step-into-the-extraordinary-explore-beyond-ordinary-footwear-with-us {
  color: #cfcfcf;
  text-align: left;
  font: 700 14px/170.5% "SfProDisplay-Bold",  SFPRO;
  position: absolute;
  left: 60.38px;
  top: 87px;
  width: 384px;
}
.footer-navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 623px;
  position: absolute;
  left: 1262px;
  top: 104px;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 295.5px;
  position: relative;
}
.socials {
  color: var(--main-white, #ffffff);
  text-align: left;
  font: 700 16px/16px "SfProDisplay-Bold",  SFPRO;
  position: relative;
}
.bonus-program-gift-cards-payments-service-contracts-non-cash-account-payment {
  color: #cfcfcf;
  text-align: left;
  font: 500 14px/32px "SfProDisplay-Medium", sans-serif;
  position: relative;
  align-self: stretch;
}
.assistance-to-the-buyer {
  color: var(--main-white, #ffffff);
  text-align: left;
  font: 700 16px/16px "SfProDisplay-Bold",  SFPRO;
  position: relative;
}
.find-an-order-terms-of-delivery-exchange-and-return-of-goods-guarantee-frequently-asked-questions-terms-of-use-of-the-site {
  color: #cfcfcf;
  text-align: left;
  font: 500 14px/32px "SfProDisplay-Medium", sans-serif;
  position: relative;
  align-self: stretch;
}
.social-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 173px;
  position: absolute;
  left: 219.08px;
  top: 320px;
}
.icon-16-px-twitter {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.icon-16-px-facebook {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.icon-16-px-tiktok {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.icon-16-px-instagram {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.beyond-1 {
  width: 216.08px;
  height: 170.78px;
  position: absolute;
  left: 176px;
  top: 32.61px;
}
.footer2 {
  background: var(--main-black, #000000);
  padding: 104px 160px 104px 160px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: center;
  width: 1439px;
  position: absolute;
  left: calc(50% - 755px);
  bottom: -1210px;
}
.info2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.logo-text2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.logo {
  flex-shrink: 0;
  width: 96px;
  height: 32px;
  position: relative;
}
.logo2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.we-are-a-residential-interior-design-firm-located-in-portland-our-boutique-studio-offers-more-than {
  color: #cfcfcf;
  text-align: left;
  font: 500 14px/170.5% "SfProDisplay-Medium", sans-serif;
  position: relative;
  width: 384px;
}
.footer-navigation2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
  width: 623px;
  position: relative;
}
.services {
  color: var(--main-white, #ffffff);
  text-align: left;
  font: 500 16px/16px "SfProDisplay-Medium", sans-serif;
  position: relative;
}
.bonus-program-gift-cards-credit-and-payment-service-contracts-non-cash-account-payment {
  color: #cfcfcf;
  text-align: left;
  font: 400 14px/32px "SfProDisplay-Regular", sans-serif;
  position: relative;
  align-self: stretch;
}
.assistance-to-the-buyer2 {
  color: var(--main-white, #ffffff);
  text-align: left;
  font: 500 16px/16px "SfProDisplay-Medium", sans-serif;
  position: relative;
}
.find-an-order-terms-of-delivery-exchange-and-return-of-goods-guarantee-frequently-asked-questions-terms-of-use-of-the-site2 {
  color: #cfcfcf;
  text-align: left;
  font: 400 14px/32px "SfProDisplay-Regular", sans-serif;
  position: relative;
  align-self: stretch;
}
.social-icons2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
  width: 173px;
  position: relative;
}
.icon-16-px-twitter2 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.icon-16-px-facebook2 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.icon-16-px-tiktok2 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.icon-16-px-instagram2 {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.content {
  padding: 24px 160px 56px 160px;
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1794px;
  position: absolute;
  left: 45px;
  top: 220px;
}
.filters {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-end;
  justify-content: flex-start;
  flex: 1;
  max-width: 256px;
  position: relative;
}
.price {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.dropdown {
  border-radius: 4px;
  padding: 12px 0px 12px 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.title {
  color: var(--main-black, #000000);
  text-align: left;
  font: 500 18px/24px "SfProDisplay-Medium", sans-serif;
  position: relative;
  flex: 1;
}
.expand-down {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  transform: translate(-24px, -24px);
  overflow: visible;
}

.expand-container.expanded .expand-down {
  transform: rotate(180deg);
}

.line {
  border-style: solid;
  border-color: #b5b5b5;
  border-width: 0.5px 0 0 0;
  flex-shrink: 0;
  width: 256px;
  height: 0px;
  position: absolute;
  right: 0.39%;
  left: -0.39%;
  width: 100%;
  bottom: 0%;
  top: 100%;
  height: 0%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.price-filter {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.from-to {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.content2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.text {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.from {
  text-align: left;
  font: 400 14px/24px "SfProDisplay-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.from-span {
  color: var(--main-black, #a7a7a7);
  font: 400 14px/24px "SfProDisplay-Regular", sans-serif;
}
.from-span2 {
  color: var(--main-black, #000000);
  font: 400 14px/24px "SfProDisplay-Regular", sans-serif;
}
.to {
  color: #a7a7a7;
  text-align: left;
  font: 400 14px/24px "BeVietnamPro-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.info3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.info-1 {
  background: #ffffff;
  border-radius: 3px;
  border-style: solid;
  border-color: #9f9f9f;
  border-width: 0.5px;
  padding: 8px 64px 8px 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 106px;
  position: absolute;
}
._1-299 {
  color: var(--main-black, #000000);
  text-align: right;
  font: 400 14px/24px "SfProDisplay-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.line-16 {
  border-style: solid;
  border-color: #e7e7e7;
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 20px;
  height: 0px;
  position: relative;
}
.info-2 {
  background: #ffffff;
  border-radius: 3px;
  border-style: solid;
  border-color: #9f9f9f;
  border-width: 0.5px;
  padding: 8px ;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 106px;
  position: relative;
}
._1-2992 {
  color: var(--main-black, #000000);
  text-align: right;
  font: 400 14px/24px "SfProDisplay-Regular", sans-serif;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.scroll {
  display: flex;
  flex-direction: row;
  gap: 99px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.rectangle-6 {
  background: #414141;
  border-radius: 2px;
  flex-shrink: 0;
  width: 253.73px;
  height: 4px;
  position: absolute;
  right: 0.23%;
  left: 0.65%;
  width: 99.11%;
  bottom: 33.33%;
  top: 33.33%;
  height: 33.33%;
}
.ellipse-66 {
  background: var(--main-black, #000000);
  border-radius: 50%;
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
}
.rectangle-7 {
  background: #cecece;
  border-radius: 2px;
  flex: 1;
  height: 4px;
  position: relative;
}
.ellipse-67 {
  background: var(--main-black, #000000);
  border-radius: 50%;
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: absolute;
  left: calc(50% - 21px);
  top: calc(50% - 6px);
}
.brand {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.expand-down2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  transform: translate(-24px, -24px);
  overflow: visible;
}
.content3 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-end;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.search-brands {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.search-field {
  background: #f5f5f5;
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.icon-32-px-search {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.search {
  color: #656565;
  text-align: left;
  font: 500 14px/18px "SfProDisplay-Medium", sans-serif;
  opacity: 0.5;
  position: relative;
}
.brands {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.checbox-field {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.radio-form {
  display: block;
  margin: auto;
  max-width: 10em;
  position: relative;
}

.radio-form input {
  position: fixed;
  top: -1.5em;
  left: -1.5em;
}

.radio-form label {
  cursor: pointer;
  display: block;
  font-weight: bold;
  text-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.2);
  transition: color 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.radio-form label:not(:last-of-type) {
  margin-bottom: 1.5em;
}

.radio-form label span {
  box-shadow: 0 0 0 0.2em currentColor inset, 0 0.2em 0.2em rgba(0, 0, 0, 0.2), 0 0.3em 0.2em rgba(0, 0, 0, 0.2) inset;
  display: inline-block;
  margin-right: 0.5em;
  vertical-align: bottom;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  transition: transform 0.2s cubic-bezier(0.5, 0, 0.5, 2), box-shadow 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95), color 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.radio-form input:checked + label,
.radio-form input:checked + label span {
  color: #255ff4;
}

.radio-form input:checked + label,
.radio-form input:checked + label span {
  transition-delay: 0.4s;
}

.radio-form label span {
  transform: scale(1.2);
}

.radio-form .worm {
  top: 0.375em;
  left: 0.375em;
  position: absolute;
}

.radio-form .worm__segment {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  transition: transform 0.4s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.radio-form .worm__segment:before {
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
  background: currentColor;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.radio-form .worm__segment:first-child:before,
.radio-form .worm__segment:last-child:before {
  box-shadow: 0 0 1em 0 currentColor;
}

@keyframes hop1 {
  from,
  to {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-1.5em);
  }
}

@keyframes hop2 {
  from,
  to {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-1.5em);
  }
}

@keyframes hop3 {
  from,
  to {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-1.5em);
  }
}

.radio-form input:nth-of-type(1):checked ~ .worm .worm__segment {
  transform: translateY(0);
}

.radio-form input:nth-of-type(1):checked ~ .worm .worm__segment:before {
  animation-name: hop1;
}

.radio-form input:nth-of-type(2):checked ~ .worm .worm__segment {
  transform: translateY(3em);
}

.radio-form input:nth-of-type(2):checked ~ .worm .worm__segment:before {
  animation-name: hop2;
}

.radio-form input:nth-of-type(3):checked ~ .worm .worm__segment {
  transform: translateY(6em);
}

.radio-form input:nth-of-type(3):checked ~ .worm .worm__segment:before {
  animation-name: hop3;
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background: #17181c;
    color: #e3e4e8;
  }

  .radio-form input:checked + label,
  .radio-form input:checked + label span,
  .radio-form .worm__segment:before {
    color: #5583f6;
  }
}

.done-round {
  border-radius: 3px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.hold {
  text-align: left;
  position: relative;
  flex: 1;
}
.hold-span {
  color: var(--main-black, #000000);
  font: 500 15px/24px "SfProDisplay-Medium", sans-serif;
}
.hold-span2 {
  color: var(--main-black, #929292);
  font: 400 12px/24px "SfProDisplay-Regular", sans-serif;
}
.done-round2 {
  border-radius: 3px;
  border-style: solid;
  border-color: #d3d3d3;
  border-width: 0.5px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 16.33px;
  height: 15.67px;
  position: relative;
}
.hold-span3 {
  color: var(--main-black, #000000);
  font: 500 15px/24px "SfProDisplay-Medium", sans-serif;
}
.hold-span4 {
  color: var(--main-black, #000000);
  font: 500 14px/24px "SfProDisplay-Medium", sans-serif;
}
.hold-span5 {
  color: var(--main-black, #929292);
  font: 400 12px/24px "SfProDisplay-Regular", sans-serif;
}
.hold-span6 {
  color: var(--main-black, #000000);
  font: 500 15px/24px "SfProDisplay-Medium", sans-serif;
}
.hold-span7 {
  color: var(--main-black, #000000);
  font: 500 14px/24px "SfProDisplay-Medium", sans-serif;
}
.hold-span8 {
  color: var(--main-black, #929292);
  font: 400 12px/24px "SfProDisplay-Regular", sans-serif;
}
.hold-span9 {
  color: var(--main-black, #000000);
  font: 500 15px/24px "SfProDisplay-Medium", sans-serif;
}
.hold-span10 {
  color: var(--main-black, #000000);
  font: 500 14px/24px "SfProDisplay-Medium", sans-serif;
}
.hold-span11 {
  color: var(--main-black, #929292);
  font: 400 12px/24px "SfProDisplay-Regular", sans-serif;
}
.hold-span12 {
  color: var(--main-black, #000000);
  font: 500 15px/24px "SfProDisplay-Medium", sans-serif;
}
.hold-span13 {
  color: var(--main-black, #000000);
  font: 500 14px/24px "SfProDisplay-Medium", sans-serif;
}
.hold-span14 {
  color: var(--main-black, #929292);
  font: 500 12px/24px "SfProDisplay-Medium", sans-serif;
}
.hold-span15 {
  color: var(--main-black, #000000);
  font: 500 15px/24px "SfProDisplay-Medium", sans-serif;
}
.hold-span16 {
  color: var(--main-black, #929292);
  font: 400 12px/24px "SfProDisplay-Regular", sans-serif;
}
.hold-span17 {
  color: var(--main-black, #000000);
  font: 500 15px/24px "SfProDisplay-Medium", sans-serif;
}
.hold-span18 {
  color: var(--main-black, #929292);
  font: 400 12px/24px "SfProDisplay-Regular", sans-serif;
}
.hold-span19 {
  color: var(--main-black, #000000);
  font: 500 15px/24px "SfProDisplay-Medium", sans-serif;
}
.hold-span20 {
  color: var(--main-black, #000000);
  font: 500 14px/24px "SfProDisplay-Medium", sans-serif;
}
.hold-span21 {
  color: var(--main-black, #929292);
  font: 400 12px/24px "SfProDisplay-Regular", sans-serif;
}
.hold-span22 {
  color: var(--main-black, #000000);
  font: 500 15px/24px "SfProDisplay-Medium", sans-serif;
}
.hold-span23 {
  color: var(--main-black, #929292);
  font: 400 12px/24px "SfProDisplay-Regular", sans-serif;
}
.scroll2 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.rectangle-4 {
  background: #d9d9d9;
  border-radius: 2px;
  flex-shrink: 0;
  width: 2px;
  height: 336px;
  position: relative;
}
.rectangle-5 {
  background: #5d5d5d;
  border-radius: 2px;
  flex-shrink: 0;
  width: 2px;
  height: 92px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.sizing {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.expand-down3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  transform: translate(-24px, -24px);
  overflow: visible;
}
.content4 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 256px;
  position: relative;
}
.search-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.icon-32-px-search2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.icon-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.hold-span24 {
  color: var(--main-black, #000000);
  font: 500 15px/24px "SfProDisplay-Medium", sans-serif;
}
.hold-span25 {
  color: var(--main-black, #000000);
  font: 500 14px/24px "SfProDisplay-Medium", sans-serif;
}
.hold-span26 {
  color: var(--main-black, #929292);
  font: 400 12px/24px "SfProDisplay-Regular", sans-serif;
}
.hold-span27 {
  color: var(--main-black, #000000);
  font: 500 15px/24px "SfProDisplay-Medium", sans-serif;
}
.hold-span28 {
  color: var(--main-black, #000000);
  font: 500 14px/24px "SfProDisplay-Medium", sans-serif;
}
.hold-span29 {
  color: var(--main-black, #929292);
  font: 400 12px/24px "SfProDisplay-Regular", sans-serif;
}
.hold-span30 {
  color: var(--main-black, #000000);
  font: 500 15px/24px "SfProDisplay-Medium", sans-serif;
}
.hold-span31 {
  color: var(--main-black, #000000);
  font: 500 14px/24px "SfProDisplay-Medium", sans-serif;
}
.hold-span32 {
  color: var(--main-black, #929292);
  font: 400 12px/24px "SfProDisplay-Regular", sans-serif;
}
.hold-span33 {
  color: var(--main-black, #000000);
  font: 500 15px/24px "SfProDisplay-Medium", sans-serif;
}
.hold-span34 {
  color: var(--main-black, #000000);
  font: 500 14px/24px "SfProDisplay-Medium", sans-serif;
}
.hold-span35 {
  color: var(--main-black, #929292);
  font: 400 12px/24px "SfProDisplay-Regular", sans-serif;
}
.hold-span36 {
  color: var(--main-black, #000000);
  font: 500 15px/24px "SfProDisplay-Medium", sans-serif;
}
.hold-span37 {
  color: var(--main-black, #000000);
  font: 500 14px/24px "SfProDisplay-Medium", sans-serif;
}
.hold-span38 {
  color: var(--main-black, #929292);
  font: 400 12px/24px "SfProDisplay-Regular", sans-serif;
}
.hold-span39 {
  color: var(--main-black, #000000);
  font: 500 15px/24px "SfProDisplay-Medium", sans-serif;
}
.hold-span40 {
  color: var(--main-black, #000000);
  font: 500 14px/24px "SfProDisplay-Medium", sans-serif;
}
.hold-span41 {
  color: var(--main-black, #929292);
  font: 400 12px/24px "SfProDisplay-Regular", sans-serif;
}
.scrol {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.rectangle-42 {
  background: #d9d9d9;
  border-radius: 2px;
  flex-shrink: 0;
  width: 2px;
  height: 240px;
  position: relative;
}
.product {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.products {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.top-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.left-side {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: flex-end;
  justify-content: flex-start;
  flex: 1;
  min-width: 200px;
  position: relative;
}
.selected-products {
  color: #6c6c6c;
  text-align: left;
  font: 500 16px/16px "SfProDisplay-Medium", sans-serif;
  position: relative;
}
._85 {
  color: #000000;
  text-align: center;
  font: 500 20px/16px "SfProDisplay-Medium", sans-serif;
  position: relative;
}
.dropdown2 {
  background: #ffffff;
  border-radius: 8px;
  border-style: solid;
  border-color: #d4d4d4;
  border-width: 0.5px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  min-width: 140px;
  max-width: 256px;
  position: relative;
}
.by-rating {
  color: #000000;
  text-align: left;
  font: 400 15px/16px "SfProDisplay-Regular", sans-serif;
  position: relative;
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.icon-24-px-chevron-down {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  transform: translate(-24px, -24px);
  overflow: visible;
}
.row {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-self: stretch;
  flex-shrink: 0;
  min-width: 200px;
  position: relative;
}
.product-card {
  background: #f6f6f6;
  border-radius: 9px;
  padding: 24px 16px 24px 16px;
  flex: 1;
  height: 432px;
  min-width: 200px;
  position: relative;
}
.top-section {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
  width: 234.67px;
  position: absolute;
  left: 16px;
  top: 24px;
}
.text-icon {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  width: 234.67px;
  position: absolute;
  left: 75px;
  top: 248px;
}
.info4 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.jordan-1-travis-scott {
  color: var(--main-black, #000000);
  text-align: center;
  font: 500 16px/24px "SfProDisplay-Medium", sans-serif;
  position: relative;
  align-self: stretch;
}
._65-000 {
  color: var(--main-black, #000000);
  text-align: center;
  font: 700 24px/24px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  align-self: stretch;
}
.paste-button {
  position: relative;
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buttonz {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 15px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  font-size: 13px;
  position: absolute;
  z-index: 1;
  min-width: 200px;
  background-color: #ffffff;
  border: 2px solid #929292;
  border-radius: 0px 15px 15px 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: #000000;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  transition: 0.1s;
}

.dropdown-content a:hover {
  background-color: #7e7e7e;
  color: #ffffff;
}

.dropdown-content a:focus {
  background-color: #070707;
  color: #f8f8f8;
}

.dropdown-content #top:hover {
  border-radius: 0px 13px 0px 0px;
}

.dropdown-content #bottom:hover {
  border-radius: 0px 0px 13px 13px;
}

.paste-button:hover button {
  border-radius: 15px 15px 0px 0px;
}

.paste-button:hover .dropdown-content {
  display: block;
}

.button {
  background: var(--main-black, #000000);
  border-radius: 8px;
  padding: 12px 64px 12px 64px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  transform: translateY(0); /* Initial position */
  transition: transform 0.3s ease; /* Add transition for a smoother effect */
}
.button:hover {
  transform: translateY(-5px); /* Move the button 5 pixels up on hover */
}
.label {
  color: var(--main-white, #ffffff);
  text-align: center;
  font: 500 14px/24px "SfProDisplay-Medium", sans-serif;
  position: relative;
  cursor: pointer; /* Add this to make it look clickable */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Add transition for a smoother effect */
}

.label:hover {
  color: #ffffff; /* Change the text color on hover */
  transform: translateY(-5px); /* Move the button 5 pixels up on hover */
}


.j-1-ts-2 {
  width: 186.24px;
  height: 160.61px;
  position: absolute;
  left: 99.21px;
  top: 56px;
}
.input[type = "text"] {
  display: block;
  color: rgb(34, 34, 34);
  background: linear-gradient(142.99deg, rgba(217, 217, 217, 0.63) 15.53%, rgba(243, 243, 243, 0.63) 88.19%);
  box-shadow: 0px 12px 24px -1px rgba(0, 0, 0,0.18);
  border-color: rgba(7, 4, 14, 0);
  border-radius: 50px;
  block-size: 40px;
  margin: 7px auto;
  padding: 18px 15px;
  outline: none;
  text-align: center;
  width: 320px;
  transition: 0.5s;
  position: absolute;
  left: 383px;
  top: 19px;
}

.input[type = "text"]:hover {
  width: 220px;
}

.input[type = "text"]:focus {
  width: 280px;
} 
.input2[type = "text"] {
  display: block;
  color: rgb(34, 34, 34);
  background: linear-gradient(142.99deg, rgba(217, 217, 217, 0.63) 15.53%, rgba(243, 243, 243, 0.63) 88.19%);
  box-shadow: 0px 12px 24px -1px rgba(0, 0, 0,0.18);
  border-color: rgba(7, 4, 14, 0);
  border-radius: 50px;
  block-size: 40px;
  margin: 7px auto;
  padding: 18px 15px;
  outline: none;
  text-align: center;
  width: 320px;
  transition: 0.5s;
  position: absolute;
  left: 753px;
  top: 19px;
}

.input2[type = "text"]:hover {
  width: 220px;
}

.input2[type = "text"]:focus {
  width: 240px;
} 
/* Hide the default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

/* Hide the default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  height: 1.3em;
  width: 1.3em;
  background-color: #ccc;
  border-radius: 100%;
  background: #e8e8e8;
  box-shadow: 3px 3px 5px #c5c5c5,
              -3px -3px 5px #ffffff;
  transition-duration: 0.5s;
  margin-right: 10px; /* Adjust the spacing between checkbox and text */
}

.container input:checked ~ .checkmark {
  box-shadow: inset 3px 3px 5px #c5c5c5,
              inset -3px -3px 5px #ffffff;
}

.checkmark:after {
  content: "";
  position: absolute;
  opacity: 0;
}

.container input:checked ~ .checkmark:after {
  opacity: 1;
}

.container .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid darkgray;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

.checkbox-text {
  color: #333; /* Adjust text color */
  display: inline-block; /* Ensure the text appears on the same line */
  font: 650 16px/24px "SfProDisplay-Medium", sfpro;
}

.adidas-samba-2023 {
  color: var(--main-black, #000000);
  text-align: center;
  font: 500 16px/24px "SfProDisplay-Medium", sans-serif;
  position: relative;
  align-self: stretch;
}
._6-000 {
  color: var(--main-black, #000000);
  text-align: center;
  font: 700 24px/24px "SfProDisplay-Bold", SFPRO;
  position: relative;
  align-self: stretch;
}
.samb-2 {
  border-radius: 7px;
  width: 170px;
  height: 143px;
  position: absolute;
  left: 107.33px;
  top: 80.5px;
}
.adidas-yeezy-900-true-black {
  color: var(--main-black, #000000);
  text-align: center;
  font: 500 16px/24px "SfProDisplay-Medium", sans-serif;
  position: relative;
  align-self: stretch;
}
._7-500 {
  color: var(--main-black, #000000);
  text-align: center;
  font: 700 24px/24px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  align-self: stretch;
}
.untitled-design-2 {
  width: 186.89px;
  height: 151.97px;
  position: absolute;
  left: 98.89px;
  top: 76.02px;
}
.top-section2 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
  width: 234.67px;
  height: 32px;
  position: absolute;
  left: 16px;
  top: 24px;
}
.new-balance-550-s-adl {
  color: var(--main-black, #000000);
  text-align: center;
  font: 500 16px/24px "SfProDisplay-Medium", sans-serif;
  position: relative;
  align-self: stretch;
}
._10-500 {
  color: var(--main-black, #000000);
  text-align: center;
  font: 700 24px/24px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  align-self: stretch;
}
._550-2 {
  width: 179.62px;
  height: 153.34px;
  position: absolute;
  left: 102.52px;
  top: 75.33px;
}
.jordan-4-2018-white-cement {
  color: var(--main-black, #000000);
  text-align: center;
  font: 500 16px/24px "SfProDisplay-Medium", sans-serif;
  position: relative;
  align-self: stretch;
}
._9-000 {
  color: var(--main-black, #000000);
  text-align: center;
  font: 700 24px/24px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  align-self: stretch;
}
.j-4-2 {
  width: 179.05px;
  height: 150.61px;
  position: absolute;
  left: 102.81px;
  top: 76.69px;
}
.adidas-yeezy-700-classic {
  color: var(--main-black, #000000);
  text-align: center;
  font: 500 16px/24px "SfProDisplay-Medium", sans-serif;
  position: relative;
  align-self: stretch;
}
._11-000 {
  color: var(--main-black, #000000);
  text-align: center;
  font: 700 24px/24px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  align-self: stretch;
}
.yeezy-2 {
  width: 186px;
  height: 159px;
  position: absolute;
  left: 99.33px;
  top: 72.5px;
}
.row2 {
  align-self: stretch;
  flex-shrink: 0;
  height: 432px;
  min-width: 200px;
  position: relative;
}
.product-card2 {
  background: #f6f6f6;
  border-radius: 9px;
  padding: 24px 16px 24px 16px;
  width: 383px;
  height: 432px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.iphone-14-pro-1 {
  width: 160px;
  height: 160px;
  position: absolute;
  left: 53.33px;
  top: 72px;
}
.text-icon2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  width: 234.67px;
  position: absolute;
  left: 74.17px;
  top: 248px;
}
.nike-panda-vintages-low {
  color: var(--main-black, #000000);
  text-align: center;
  font: 500 16px/24px "SfProDisplay-Medium", sans-serif;
  position: relative;
  align-self: stretch;
}
._7-000 {
  color: var(--main-black, #000000);
  text-align: center;
  font: 700 24px/24px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  align-self: stretch;
}
.panda-2 {
  width: 170px;
  height: 94.2px;
  position: absolute;
  left: 106.5px;
  top: 104.9px;
}
.product-card3 {
  background: #f6f6f6;
  border-radius: 9px;
  padding: 24px 16px 24px 16px;
  width: 383px;
  height: 432px;
  position: absolute;
  left: 402px;
  top: 0px;
}
.icon-32-px-like {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}
.new-balance-2002-r-pocket-gray-m-2002-rvc {
  color: var(--main-black, #000000);
  text-align: center;
  font: 500 16px/24px "SfProDisplay-Medium", sans-serif;
  position: relative;
  align-self: stretch;
}
._12-000 {
  color: var(--main-black, #000000);
  text-align: center;
  font: 700 24px/24px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  align-self: stretch;
}
._2002-r-3 {
  width: 170px;
  height: 143px;
  position: absolute;
  left: 106.5px;
  top: 80.5px;
}
.product-card4 {
  background: #f6f6f6;
  border-radius: 9px;
  padding: 24px 16px 24px 16px;
  width: 381px;
  height: 432px;
  position: absolute;
  left: 805px;
  top: 0px;
}
.text-icon3 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  width: 234.67px;
  position: absolute;
  left: 73.17px;
  top: 248.02px;
}
.reebok-aght-198-true-few {
  color: var(--main-black, #000000);
  text-align: center;
  font: 500 16px/24px "SfProDisplay-Medium", sans-serif;
  position: relative;
  align-self: stretch;
}
._5-500 {
  color: var(--main-black, #000000);
  text-align: center;
  font: 700 24px/24px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  align-self: stretch;
}
.add-a-heading-8-2 {
  width: 239.98px;
  height: 241.38px;
  position: absolute;
  left: 70.52px;
  top: 6.62px;
  transform-origin: 0 0;
  transform: rotate(0.005deg) scale(1, 1);
}
.pagination {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.icon-24-px-arrow {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  transform: translate(-24px, 0px);
  overflow: visible;
}
.page-numbers {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
._6 {
  background: var(--main-black, #000000);
  border-radius: 5px;
  padding: 4px 12px 4px 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._1 {
  color: var(--main-white, #ffffff);
  text-align: center;
  font: 500 16px/24px "SfProDisplay-Medium", sans-serif;
  position: relative;
}
._2 {
  background: #f6f6f6;
  border-radius: 5px;
  padding: 4px 11px 4px 11px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
._12 {
  color: var(--main-black, #000000);
  text-align: center;
  font: 500 16px/24px "SfProDisplay-Medium", sans-serif;
  position: relative;
}
._3 {
  background: #f6f6f6;
  border-radius: 5px;
  padding: 4px 11px 4px 11px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.ellipse-68 {
  background: #737373;
  border-radius: 50%;
  flex-shrink: 0;
  width: 3px;
  height: 3px;
  position: relative;
}
.ellipse-69 {
  background: #737373;
  border-radius: 50%;
  flex-shrink: 0;
  width: 3px;
  height: 3px;
  position: relative;
}
.ellipse-71 {
  background: #737373;
  border-radius: 50%;
  flex-shrink: 0;
  width: 3px;
  height: 3px;
  position: relative;
}
.ellipse-70 {
  background: #737373;
  border-radius: 50%;
  flex-shrink: 0;
  width: 3px;
  height: 3px;
  position: relative;
}
._5 {
  background: #f6f6f6;
  border-radius: 5px;
  padding: 4px 11px 4px 11px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.icon-24-px-arrow2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  transform: translate(0px, -24px);
  overflow: visible;
  
}
.breadcrumbs {
  padding: 40px 160px 40px 160px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  width: 1440px;
  position: absolute;
  left: calc(50% - 756px);
  top: 130px;
}
.home { 
  color: #a4a4a4;
  text-align: left;
  font: 500 16px/16px "SfProDisplay-Medium", sans-serif;
  position: relative;
  transition: color 0.3s ease; /* kevs */
}
.home:hover { /* kevs */
  color: #ff0000; 
}

.icon-24-px-arrow3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  transform: translate(0px, -24px);
  overflow: visible;
}
.catalog {
  color: #a4a4a4;
  text-align: left;
  font: 500 16px/16px "SfProDisplay-Medium", sans-serif;
  position: relative;
  transition: color 0.3s ease; /* kevs */
}

.catalog:hover { /* kevs */
  color: #ff0000; 
}

.icon-24-px-arrow4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  transform: translate(0px, -24px);
  overflow: visible;
}
.shoes {
  color: #000000;
  text-align: left;
  font: 500 16px/16px "SfProDisplay-Medium", sans-serif;
  position: relative;
  transition: color 0.3s ease; /* kevs */
}

.shoes:hover { /* kevs */
  color: #ff0000; 
}
.add-a-heading-1-1 {
  width: 151px;
  height: 62px;
  position: absolute;
  left: 123px;
  top: 28px;
}
.header {
  width: 1920px;
  height: 142px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.header-top {
  background: var(--main-white, #ffffff);
  padding: 16px 160px 16px 160px;
  width: 1783px;
  height: 94px;
  position: absolute;
  left: 56px;
  top: 0px;
}
.add-a-heading-1-12 {
  width: 151px;
  height: 62px;
  position: absolute;
  left: 139.59px;
  top: 16px;
}
.search-field2 {
  background: #f5f5f5;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: 331px;
  height: 56px;
  position: absolute;
  left: 343px;
  top: 19px;
}
.icon-32-px-search3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.search2 {
  color: #656565;
  text-align: left;
  font: 400 14px/18px "-", sans-serif;
  opacity: 0.5;
  position: relative;
}
.search-2-span {
  color: #656565;
  font: 400 14px/18px "Coolvetica-Regular", sans-serif;
}
.search-2-span2 {
  color: #656565;
  font: 400 14px/18px "-", sans-serif;
}
.search-field3 {
  background: #f5f5f5;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: 331px;
  height: 56px;
  position: absolute;
  left: 706px;
  top: 19px;
}
.icon-32-px-search4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.search3 {
  color: #656565;
  text-align: left;
  font: 400 14px/18px "Coolvetica-Regular", sans-serif;
  opacity: 0.5;
  position: relative;
}
.navigation {
  display: flex;
  flex-direction: row;
  gap: 52px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 1182px;
  top: 39px;
}
.home2 { 
  color: var(--secondary-charcoal, #2e2e2e);
  text-align: left;
  font: 700 16px "SfProDisplay-Bold", SFPRO;
  position: relative;
  transition: transform 0.3s ease; /* kevs */
}

.home2:hover { /* kevs */
  transform: translateY(-5px);
  color: #ff0000; 
}

.about { 
  color: var(--secondary-charcoal, #2e2e2e);
  text-align: left;
  font: 700 16px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  transition: transform 0.3s ease; /* kevs */
}

.about:hover { /* kevs */
  transform: translateY(-5px); /* kevs */
  color: #ff0000; /* kevs */
}
.contact-us { 
  color: var(--secondary-charcoal, #2e2e2e);
  text-align: left;
  font: 400 16px "-", sans-serif;
  position: relative;
  transition: transform 0.3s ease; /* kevs */
}

.contact-us:hover { /* kevs */
  transform: translateY(-5px); /* kevs */
  color: #ff0000; /* kevs */
}
.contact-us-span {
  color: var(--secondary-charcoal, #2e2e2e);
  font: 700 16px "SfProDisplay-Bold",  SFPRO;
}
.contact-us-span:hover { /* kevs */
  transform: translateY(-5px); /* kevs */
  color: #ff0000; /* kevs */
}
.icons {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1637px;
  top: 31px;
}
.icon-32-px-favorites {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.icon-32-px-cart {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 1679px;
  top: 30.92px;
}
.cart-1 {
  height: auto;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  overflow: visible;
}
.subnav {
  background: #000000;
  padding: 8px 160px 8px 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1920px;
  position: absolute;
  left: 0px;
  top: 94px;
}
.nav-category {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.phones {
  color: var(--main-white, #ffffff);
  text-align: center;
  font: 700 16px/32px "SfProDisplay-Bold", SFPRO;
  position: relative;
  transition: transform 0.3s ease; /* kevs */
}

.phones:hover { /* kevs */
  transform: translateY(-5px); 
  color: #ff0000;
}
.devider {
  border-style: solid;
  border-color: var(--main-white, #ffffff);
  border-width: 1px 0 0 0;
  opacity: 0.20000000298023224;
  flex-shrink: 0;
  width: 24px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.computers { 
  color: var(--main-white, #ffffff);
  text-align: center;
  font: 700 16px/32px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  transition: transform 0.3s ease; /* kevs */
}

.computers:hover { /* kevs */
  transform: translateY(-5px);
  color: #ff0000;
}
.smart-watches { 
  color: var(--main-white, #ffffff);
  text-align: center;
  font: 700 16px/32px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  transition: transform 0.3s ease; /* kevs */
}

.smart-watches:hover { /* kevs */
  transform: translateY(-5px); 
  color: #ff0000;
}
.cameras { 
  color: var(--main-white, #ffffff);
  text-align: center;
  font: 700 16px/32px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  transition: transform 0.3s ease; /* kevs */
}

.cameras:hover { /* kevs */
  transform: translateY(-5px); 
  color: #ff0000;
}
.headphones { 
  color: var(--main-white, #ffffff);
  text-align: center;
  font: 700 16px/32px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  transition: transform 0.3s ease; /* kevs */
}

.headphones:hover { /* kevs */
  transform: translateY(-5px); 
  color: #ff0000;
}
.gaming { 
  color: var(--main-white, #ffffff);
  text-align: center;
  font: 700 16px/32px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  transition: transform 0.3s ease; /* kevs */
}

.gaming:hover { /* kevs */
  transform: translateY(-5px); 
  color: #ff0000;
}
