@font-face {
    font-family: SFPRO;
    src: url(/frontend/fonts/SFPRODISPLAYBOLD.OTF);
  }
  @font-face {
    font-family: SFPROMED;
    src: url(/frontend/fonts/SFPRODISPLAYMEDIUM.OTF);
  }
  @font-face {
    font-family: Coolvetica;
    src: url(/frontend/fonts/coolvetica\ rg.otf);
  }
  @font-face {
    font-family: ftr;
    src: url(/frontend/fonts/Futura\ Condensed\ Bold.otf);
  }
  @font-face {
    font-family: neue;
    src: url(/frontend/fonts/neue-montreal-bold.otf);
  }
  @font-face {
    font-family: stretched;
    src: url(/frontend/fonts/StretchPro.otf);
  }
  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
.product-info,
.product-info * {
  box-sizing: border-box;
}
.product-info {
  background: #160404;
  width: 1920px;
  height: 1358px;
  position: relative;
  overflow: hidden;
}
.hero {
  background: #ffffff;
  width: 1920px;
  height: 1358px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.navbar {
  background: #ffffff;
  width: 1440px;
  height: 90px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-11 {
  display: flex;
  flex-direction: column;
  gap: 74px;
  align-items: center;
  justify-content: flex-start;
  height: 187px;
  position: absolute;
  left: 220px;
  top: 154px;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1039px;
  height: 260px;
  position: relative;
}
.main-info {
  padding: 112px 160px 112px 160px;
  width: 1440px;
  height: 728px;
  position: absolute;
  left: 242px;
  top: 284px;
}
.input[type = "text"] {
  display: block;
  color: rgb(34, 34, 34);
  background: linear-gradient(142.99deg, rgba(217, 217, 217, 0.63) 15.53%, rgba(243, 243, 243, 0.63) 88.19%);
  box-shadow: 0px 12px 24px -1px rgba(0, 0, 0,0.18);
  border-color: rgba(7, 4, 14, 0);
  border-radius: 50px;
  block-size: 40px;
  margin: 7px auto;
  padding: 18px 15px;
  outline: none;
  text-align: center;
  width: 320px;
  transition: 0.5s;
  position: absolute;
  left: 383px;
  top: 19px;
}

.input[type = "text"]:hover {
  width: 220px;
}

.input[type = "text"]:focus {
  width: 280px;
} 
.input2[type = "text"] {
  display: block;
  color: rgb(34, 34, 34);
  background: linear-gradient(142.99deg, rgba(217, 217, 217, 0.63) 15.53%, rgba(243, 243, 243, 0.63) 88.19%);
  box-shadow: 0px 12px 24px -1px rgba(0, 0, 0,0.18);
  border-color: rgba(7, 4, 14, 0);
  border-radius: 50px;
  block-size: 40px;
  margin: 7px auto;
  padding: 18px 15px;
  outline: none;
  text-align: center;
  width: 320px;
  transition: 0.5s;
  position: absolute;
  left: 753px;
  top: 19px;
}

.input2[type = "text"]:hover {
  width: 220px;
}

.input2[type = "text"]:focus {
  width: 240px;
} 
.images {
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: center;
  justify-content: flex-start;
  width: 536px;
  position: absolute;
  left: 160px;
  top: 142px;
}
.product-images {
  flex-shrink: 0;
  width: 84px;
  height: 444px;
  position: relative;
}
.image-65 {
  opacity: 0.5;
  width: 89.47px;
  height: 77.37px;
  position: absolute;
  left: 10.58px;
  top: 126.06px;
}
.image-67 {
  opacity: 0.5;
  width: 89.47px;
  height: 77.14px;
  position: absolute;
  left: 10.58px;
  top: 240.56px;
}
.image-68 {
  opacity: 0.5;
  width: 89.47px;
  height: 77.17px;
  position: absolute;
  left: 10.58px;
  top: 351.05px;
}
.image-66 {
  width: 89.47px;
  height: 69.25px;
  position: absolute;
  left: 10.58px;
  top: 30.97px;
}
.image-64 {
  flex-shrink: 0;
  width: 440px;
  height: 440px;
  position: relative;
}
.info {
  width: 536px;
  height: 504px;
  position: absolute;
  left: 801.5px;
  top: 112px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 536px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.title {
  align-self: stretch;
  flex-shrink: 0;
  height: 236px;
  position: relative;
}
.new-balance-2002-rd {
  color: #000000;
  text-align: left;
  font: 700 40px/40px "SfProDisplay-Bold",  SFPRO;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 536px;
}
.frame-427319310 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 64px;
  overflow: hidden;
}
.price {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  width: 536px;
  position: absolute;
  left: 0px;
  top: 64px;
}
._1399 {
  color: #000000;
  text-align: left;
  font: 500 32px/48px "SfProDisplay-Medium", SFPROMED;
  position: relative;
}
._1499 {
  color: #a0a0a0;
  text-align: left;
  font: 400 24px/32px "SfProDisplay-Regular", sans-serif;
  text-decoration: line-through;
  position: relative;
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.colors {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  width: 536px;
  position: absolute;
  left: 0px;
  top: 118px;
}
.select-color {
  color: var(--black, #0c0c0c);
  text-align: left;
  font: 400 15px/24px "SfProDisplay-Regular", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-427319309 {
  padding: 0px 246px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.ellipse-12 {
  background: #000000;
  border-radius: 50%;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}
.ellipse-13 {
  background: #781dbc;
  border-radius: 50%;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}
.ellipse-15 {
  background: #e10000;
  border-radius: 50%;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}
.ellipse-16 {
  background: #e1b000;
  border-radius: 50%;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}
.ellipse-14 {
  background: #e8e8e8;
  border-radius: 50%;
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
}
.tabs-memory {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  width: 536px;
  position: absolute;
  left: 0px;
  top: 170px;
}
.tab {
  border-radius: 8px;
  border-style: solid;
  border-color: #d5d5d5;
  border-width: 1px;
  padding: 16px 24px 16px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
._256-gb {
  color: #6f6f6f; /* kevs */
  text-align: center;
  font: 500 14px/16px "SfProDisplay-Medium", SFPROMED;
  position: relative;
  flex: 1;
}
._256-gb2 {
  color: #6f6f6f;
  text-align: center;
  font: 500 14px/16px "SfProDisplay-Medium", SFPROMED;
  position: relative;
  flex: 1;
}
.tab2 {
  border-radius: 8px;
  border-style: solid;
  border-color: var(--main-black, #000000);
  border-width: 1px;
  padding: 16px 24px 16px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
._256-gb3 {
  color: var(--main-black, #000000);
  text-align: center;
  font: 500 14px/16px "SfProDisplay-Medium", SFPROMED;
  position: relative;
  flex: 1;
}
.tab3 {
  border-radius: 8px;
  border-style: solid;
  border-color: var(--main-black, #000000);
  border-width: 1px;
  opacity: 0;
  padding: 16px 24px 16px 24px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.info2 {
  align-self: stretch;
  flex-shrink: 0;
  height: 168px;
  position: relative;
}
.text {
  color: #6c6c6c;
  text-align: left;
  font: 500 14px/24px "SfProDisplay-Medium",SFPROMED;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 536px;
}
.buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 536px;
  position: absolute;
  left: 0px;
  top: 369px;
}
.button {
  background: var(--main-black, #000000);
  border-radius: 6px;
  padding: 16px 56px 16px 56px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-width: 136px;
  position: relative;
}
.label {
  color: var(--main-white, #ffffff);
  text-align: center;
  font: 500 16px/24px "SfProDisplay-Medium", SFPROMED;
  position: relative;
}
.icons {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  width: 536px;
  position: absolute;
  left: 0px;
  top: 448px;
}
.feature {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.icon-56-px-delivery {
  background: #f6f6f6;
  border-radius: 11px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.delivery-truck-svgrepo-com-1-1 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.delivery-truck {
  height: auto;
  position: absolute;
  left: 2.06px;
  top: 4.07px;
  overflow: visible;
}
.available-delivery {
  color: #717171;
  text-align: left;
  font: 500 14px/24px "SfProDisplay-Medium",SFPROMED;
  position: relative;
}
.icon-56-px-stock {
  background: #f6f6f6;
  border-radius: 11px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.shop-2-svgrepo-com-2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.in-stock-today {
  text-align: left;
  font: 500 14px/24px "SfProDisplay-Medium",SFPROMED;
  position: relative;
}
.in-stock-today-span {
  color: #717171;
  font: 500 14px/24px "SfProDisplay-Medium",SFPROMED;
}
.in-stock-today-span2 {
  color: #000000;
  font: 500 14px/24px "SfProDisplay-Medium", SFPROMED;
}
.icon-56-px-guaranteed {
  background: #f6f6f6;
  border-radius: 11px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.verify {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.guaranteed-1-year {
  text-align: left;
  font: 500 14px/24px "SfProDisplay-Medium", SFPROMED;
  position: relative;
}
.guaranteed-1-year-span {
  color: #717171;
  font: 500 14px/24px "SfProDisplay-Medium", SFPROMED;
}
.guaranteed-1-year-span2 {
  color: #000000;
  font: 500 14px/24px "SfProDisplay-Medium", SFPROMED;
}
.back {
  color: #000000;
  text-align: left;
  font: 500 16px/16px "SfProDisplay-Medium", SFPROMED;
  position: absolute;
  left: 187.65px;
  top: 70px;
  transform: translateY(0); /* kevs */
  transition: transform 0.3s ease; /* kevs */
}
.back:hover {
  color: #ff0000; /* kevs */
}
.arrow-elbow-down-left {
  width: 21px;
  height: 20px;
  position: absolute;
  left: 166.65px;
  top: 70px;
  overflow: visible;
}
.breadcrumbs {
  padding: 40px 160px 40px 160px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  width: 1440px;
  position: absolute;
  left: calc(50% - 718px);
  top: 195.5px;
}
.home {
  color: #a4a4a4;
  text-align: left;
  font: 500 16px/16px "SfProDisplay-Medium", SFPROMED;
  position: relative;
  transform: translateY(0); /* kevs */
  transition: transform 0.3s ease; /* kevs */
}
.home:hover {
  color: #ff0000; /* kevs */
}
.icon-24-px-arrow {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  transform: translate(0px, -24px);
  overflow: visible;
}
.catalog {
  color: #a4a4a4;
  text-align: left;
  font: 500 16px/16px "SfProDisplay-Medium", SFPROMED;
  position: relative;
  transform: translateY(0); /* kevs */
  transition: transform 0.3s ease; /* kevs */
}
.catalog:hover {
  color: #ff0000; /* kevs */
}
.icon-24-px-arrow2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  transform: translate(0px, -24px);
  overflow: visible;
}
.nike {
  color: #a4a4a4;
  text-align: left;
  font: 500 16px/16px "SfProDisplay-Medium", SFPROMED;
  position: relative;
  transform: translateY(0); /* kevs */
  transition: transform 0.3s ease; /* kevs */
}
.nike:hover {
  color: #ff0000; /* kevs */
}
.icon-24-px-arrow3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  transform: translate(0px, -24px);
  overflow: visible;
}
.new-balance-2002-r {
  color: #000000;
  text-align: left;
  font: 500 16px/16px "SfProDisplay-Medium", SFPROMED;
  position: relative;
}
.header2 {
  width: 1920px;
  height: 142px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.header-top {
  background: var(--main-white, #ffffff);
  padding: 16px 160px 16px 160px;
  width: 1783px;
  height: 94px;
  position: absolute;
  left: 56px;
  top: 0px;
}
.add-a-heading-1-1 {
  width: 151px;
  height: 62px;
  position: absolute;
  left: 139.59px;
  top: 16px;
}
.search-field {
  background: #f5f5f5;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: 331px;
  height: 56px;
  position: absolute;
  left: 343px;
  top: 19px;
}
.icon-32-px-search {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.search {
  color: #656565;
  text-align: left;
  font: 400 14px/18px "-", sans-serif;
  opacity: 0.5;
  position: relative;
}
.search-span {
  color: #656565;
  font: 400 14px/18px "Coolvetica-Regular", sans-serif;
}
.search-span2 {
  color: #656565;
  font: 400 14px/18px "-", sans-serif;
}
.search-field2 {
  background: #f5f5f5;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  width: 331px;
  height: 56px;
  position: absolute;
  left: 706px;
  top: 19px;
}
.icon-32-px-search2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.search2 {
  color: #656565;
  text-align: left;
  font: 400 14px/18px "Coolvetica-Regular", sans-serif;
  opacity: 0.5;
  position: relative;
}
.navigation {
  display: flex;
  flex-direction: row;
  gap: 52px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 1182px;
  top: 39px;
}
.home2 {
  color: var(--secondary-charcoal, #2e2e2e);
  text-align: left;
  font: 700 16px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  transform: translateY(0); /* kevs */
  transition: transform 0.3s ease; /* kevs */
}

.home2:hover {
  transform: translateY(-5px);
  color: #ff0000; /* kevs */
}
.about {
  color: var(--secondary-charcoal, #2e2e2e);
  text-align: left;
  font: 700 16px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  transform: translateY(0); /* kevs */
  transition: transform 0.3s ease; /* kevs */
}

.about:hover {
  transform: translateY(-5px);
  color: #ff0000; /* kevs */
}
.contact-us {
  color: var(--secondary-charcoal, #2e2e2e);
  text-align: left;
  font: 400 16px "-",  SFPRO;
  position: relative;
  transform: translateY(0); /* kevs */
  transition: transform 0.3s ease; /* kevs */
}
.contact-us:hover {
  transform: translateY(-5px);
  color: #ff0000; /* kevs */
}
.contact-us-span {
  color: var(--secondary-charcoal, #2e2e2e);
  font: 700 16px "SfProDisplay-Bold",  SFPRO;
}
.contact-us-span:hover {
  transform: translateY(-5px);
  color: #ff0000; /* kevs */
}
.icons2 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1637px;
  top: 31px;
}
.icon-32-px-favorites {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.icon-32-px-cart {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 1679px;
  top: 30.92px;
}
.cart-1 {
  height: auto;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  overflow: visible;
}
.subnav {
  background: #000000;
  padding: 8px 160px 8px 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1920px;
  position: absolute;
  left: 0px;
  top: 94px;
}
.nav-category {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.phones {
  color: var(--main-white, #ffffff);
  text-align: center;
  font: 700 16px/32px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  transform: translateY(0); /* kevs */
  transition: transform 0.3s ease; /* kevs */
}

.phones:hover {
  transform: translateY(-5px); /* kevs */
  color: #ff0000; /* kevs */
}
.devider {
  border-style: solid;
  border-color: var(--main-white, #ffffff);
  border-width: 1px 0 0 0;
  opacity: 0.20000000298023224;
  flex-shrink: 0;
  width: 24px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.computers {
  color: var(--main-white, #ffffff);
  text-align: center;
  font: 700 16px/32px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  transform: translateY(0); /* kevs */
  transition: transform 0.3s ease; /* kevs */
}

.computers:hover {
  transform: translateY(-5px); /* kevs */
  color: #ff0000; /* kevs */
}
.smart-watches {
  color: var(--main-white, #ffffff);
  text-align: center;
  font: 700 16px/32px "SfProDisplay-Bold", SFPRO;
  position: relative;
  transform: translateY(0); /* kevs */
  transition: transform 0.3s ease; /* kevs */
}

.smart-watches:hover {
  transform: translateY(-5px); /* kevs */
  color: #ff0000; /* kevs */
}

.cameras {
  color: var(--main-white, #ffffff);
  text-align: center;
  font: 700 16px/32px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  transform: translateY(0); /* kevs */
  transition: transform 0.3s ease; /* kevs */
}

.cameras:hover {
  transform: translateY(-5px); /* kevs */
  color: #ff0000; /* kevs */
}
.headphones {
  color: var(--main-white, #ffffff);
  text-align: center;
  font: 700 16px/32px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  transform: translateY(0); /* kevs */
  transition: transform 0.3s ease; /* kevs */
}

.headphones:hover {
  transform: translateY(-5px); /* kevs */
  color: #ff0000; /* kevs */
}
.gaming {
  color: var(--main-white, #ffffff);
  text-align: center;
  font: 700 16px/32px "SfProDisplay-Bold",  SFPRO;
  position: relative;
  transform: translateY(0); /* kevs */
  transition: transform 0.3s ease; /* kevs */
}

.gaming:hover {
  transform: translateY(-5px); /* kevs */
  color: #ff0000; /* kevs */
}
.footer {
  background: #000000;
  padding: 104px 160px 104px 160px;
  width: 1924px;
  height: 469px;
  position: absolute;
  left: calc(50% - 960px);
  top: 995px;
}
.info3 {
  width: 1119px;
  height: 216px;
  position: absolute;
  left: 160px;
  top: 104px;
}
.logo-text {
  width: 384px;
  height: 104px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.beyond-shoe-game-manila-where-every-step-tells-your-story-elevate-your-style-game-with-our-exclusive-sneaker-collection-more-than-a-shoe-it-s-a-statement-step-into-the-extraordinary-explore-beyond-ordinary-footwear-with-us {
  color: #cfcfcf;
  text-align: left;
  font: 700 14px/170.5% "SfProDisplay-Bold",  SFPRO;
  position: absolute;
  left: 60.38px;
  top: 87px;
  width: 384px;
}
.footer-navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 623px;
  position: absolute;
  left: 1262px;
  top: 104px;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 295.5px;
  position: relative;
}
.socials {
  color: var(--main-white, #ffffff);
  text-align: left;
  font: 700 16px/16px "SfProDisplay-Bold",  SFPRO;
  position: relative;
}
.bonus-program-gift-cards-payments-service-contracts-non-cash-account-payment {
  color: #cfcfcf;
  text-align: left;
  font: 500 14px/32px "SfProDisplay-Medium", SFPROMED;
  position: relative;
  align-self: stretch;
}
.assistance-to-the-buyer {
  color: var(--main-white, #ffffff);
  text-align: left;
  font: 700 16px/16px "SfProDisplay-Bold",  SFPRO;
  position: relative;
}
.find-an-order-terms-of-delivery-exchange-and-return-of-goods-guarantee-frequently-asked-questions-terms-of-use-of-the-site {
  color: #cfcfcf;
  text-align: left;
  font: 500 14px/32px "SfProDisplay-Medium", SFPROMED;
  position: relative;
  align-self: stretch;
}
.social-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 173px;
  position: absolute;
  left: 219.08px;
  top: 320px;
}
.icon-16-px-twitter {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.icon-16-px-facebook {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.icon-16-px-tiktok {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.icon-16-px-instagram {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  position: relative;
  overflow: visible;
}
.beyond-1 {
  width: 216.08px;
  height: 170.78px;
  position: absolute;
  left: 176px;
  top: 32.61px;
}
